* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #bbb;
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 15% 10%;
  place-items: center;

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }
}
