.rangeContainer {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  column-gap: 20px;
  align-items: center;
}

.rangeLine {
  background-color: black;
  border-radius: 5px;
  height: 10px;
  position: relative;
  width: 500px;
}

.maxValue {
  font-size: 30px;
}
